<!DOCTYPE html>
<html wicket:id="html" xmlns:wicket="http://wicket.apache.org">
    <head>
        <meta charset="utf-8">
        <meta wicket:id="ie-edge">
        <meta wicket:id="viewport">
        <meta wicket:id="description">
        <meta wicket:id="author">
        <link rel="shortcut icon" href="/demo/ico/favicon.ico">
        <title wicket:id="title">[TITLE]</title>
    </head>
    <body>
    	<i wicket:id="loader" class="fa-spin" style="display: none"> </i>
        <nav wicket:id="navbar" class="bs-docs-nav">[NAVIGATION]</nav>
        <div class="container">
        	<wicket:child/>
        </div>
        <footer wicket:id="footer" class="footer navbar-fixed-bottom">[FOOTER]</footer>
    </body>
</html>