<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<wicket:panel>
    <div id="ajax-loader-mask" class="transparent ajax-loader-parent" style="display: none;">
        <div class="ajax-loader-child">
            <div id="ajax-loader-message">
                <div id="ajax-loader-message-title">Please wait...</div>
                <div id="ajax-loader-message-content">
                    <img wicket:id="ajaxLoaderImage" id="ajax-loader-image" height="14"/>
                </div>
            </div>
        </div>
    </div>
</wicket:panel>
</html>