<html xmlns:wicket="http://wicket.apache.org">
<wicket:extend>
	<dl class="dl-horizontal">
		<dt wicket:id="traditionalLabel">[TRADITIONAL LABEL]</dt>
		<dd wicket:id="traditional">[TRADITIONAL]</dd>
		<dt wicket:id="simplifiedLabel">[SIMPLIFIED LABEL]</dt>
		<dd wicket:id="simplified">[SIMPLIFIED]</dd>
		<dt wicket:id="transcriptionLabel">[TRANSCRIPTION LABEL]</dt>
		<dd wicket:id="transcription">[TRANSCRIPTION]</dd>
		<dt wicket:id="definitionsLabel">[DEFINITIONS LABEL]</dt>
		<dd>
			<ul>
				<li wicket:id="definitions">
					<span wicket:id="definition">[DEFINITION]</span>
				</li>
			</ul>
		</dd>
	</dl>
</wicket:extend>
</html>